<form class="form-inline form" ng-submit="inscrire(firstname, lastname, username, birth, email, password, confimPassword)">

    <div class="form-group">
        <label for="inputFirstname" >Firstname: </label>
        <input type="text" class="form-control" id="inputFirstname" ng-model="firstname">
    </div>
    <br>
    <div class="form-group">
        <label for="inputLastname">Lastname : </label>
        <input type="text" class="form-control" id="inputLastname" ng-model="lastname">
    </div>
    <br>
    <div class="form-group">
        <label for="inputNickname">Nickname: </label>
        <input type="text" class="form-control" id="inputNickname" ng-model="username">
    </div>
    <br>
    <div class="form-group">
        <label for="inputBirthDate">Birth Date</label>
        <input type="text" class="form-control" id="inputBirthDate" ng-model="birth">
    </div>
    <br>
    <div class="form-group">
        <label >Email: </label>
        <input type="email" class="form-control-static" ng-model="email"/>
    </div>
    <br>
    <div class="form-group">
        <label for="inputPassword">Password: </label>
        <input type="password" class="form-control" id="inputPassword" ng-model="password">
    </div>
    <br>
    <div class="form-group">
        <label for="inputConfirmPassword">Confirm Password: </label>
        <input type="password" class="form-control" id="inputConfirmPassword" ng-model="confirmPassword">
    </div>
    <br>

    <button type="submit" class="btn btn-success">Enregistrer</button>
</form>